<!-- <h1>Movie Ratings</h1> -->
<table>
    <thead>
        <tr>
            <th *ngFor="let header of tableHeaders">{{header}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let movie of movies$ | async" @fadeIn>
            <td>{{ movie.title }}</td>
            <td>{{ movie.rating }}</td>    
        </tr>        
    </tbody>
</table>

<button (click)="startRandomRate()" *ngIf="!isRating">Start Rating</button>
<button (click)="stopRandomRate()" *ngIf="isRating" class="rating">Stop Rating ({{ countdown$ | async }})</button>