@import url(//fonts.googleapis.com/css?family=Open+Sans);
* {
    font-family: 'Open Sans', sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background: linear-gradient(45deg, #1d3557, #a8dadc) no-repeat;
    height: 100%;    
    background-attachment: fixed;
}